/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
    height: 100%;
    padding-top: 40px;
    color: white !important;
    font: 14px !important;   
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -30px;
  padding: 0 0 30px;
  margin-left: 15px !important;
}

#footer {
  height: 30px;
  width: 100%;
}

#logo{
margin-top: 10px !important;  
position: absolute !important;
margin-left: 0px !important;
}

#search_from_date, #search_till_date{
  color: black !important;
  font-weight: bold !important;
  text-align: center !important;
}

#new_user, #edit_user{
  margin-left: 100px !important;
  color: grey !important;
}

#wrap > h2{
  color: white !important;
}

#user_email, #user_password, #question_humanizer_answer{
  color: black !important;
}

#main > a{
  margin-left: 180px !important;
  color: #CF142B !important;
}

#question_question_text {
  border-radius: 20px !important;
  border-bottom: red !important;
  color: black !important;
}

#question_form, #search-form, .table{
  color: black !important;
}

.alert{
  border-radius: 20px !important;
}

.bubble {
  background-image: linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -o-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -moz-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -ms-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.25, rgb(210,244,254)),
  color-stop(1, rgb(149,194,253))
);
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: 20px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.bubble:before, .bubble:after {
  border-radius: 20px / 10px;
  content: '';
  display: block;
  position: absolute;
}

.bubble:before {
  border: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: -7px;
  z-index: -2;
}

.bubble:after {
  border: 8px solid transparent;
  border-bottom-color: #FFFFFF;
  bottom: 1px;
  left: -5px;
}
.alert {
 
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: 10px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  width: 100%;
  word-wrap: break-word;
}

.alert:before, .alert:after {
  border-radius: 20px / 10px;
  content: '';
  display: block;
  position: absolute;
}

.alert:before {
  border: 20px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: -7px;
  z-index: -2;
}

.alert:after {
  border: 12px solid transparent;
  border-bottom-color: #3fad46;
  bottom: 0px;
  left: -7px;
}

.alert-danger:after{
  border: 12px solid transparent;
  border-bottom-color: #d9534f;
  bottom: 0px;
  left: -7px;
}

#wrap > div.container > div, #question_form > div.alert.alert-danger{
  height: 45px !important;
  padding-top: 8px !important;
}

.red{
  color: red !important;
}


