/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
    height: 100%;
    padding-top: 50px;
    color: white !important;
    font: 14px !important;   
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}

#footer {
  height: 30px;
  width: 100%;
}

#search_from_date, #search_till_date{
  color: black !important;
  font-weight: bold !important;
  text-align: center !important;
}

#new_user, #edit_user{
  margin-left: 100px !important;
  color: grey !important;
}

#wrap > h2{
  color: black !important;
}

#user_email, #user_password{
  color: black !important;
}

#main > a{
  color: white !important;
}